.swatch-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-top: 3%;
    // border: 1px solid orange;
}

.swatch {
    flex-grow: 1;
    min-height: 10rem;
    max-height: 30%;
    min-width: 20%;
    border: none;

    transition-duration: .3s;
    transition-property: transform;

    &:hover {
        transform: scale(1.1);
    }
}

.swatch-text {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden;

    opacity: 0;
    transition-duration: .3s;
    transition-property: opacity;

    &:hover {
        opacity: 1;
    }
}

.delete {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.edit {
    position: absolute;
    left: .5rem;
    top: .5rem;
}

.swatch-button {
    border: none;
    border-radius: 30%;
    font-size: 1rem;

}

.delete-hidden {
    display: block;
    background-color: none;
    border-radius: 5px;
}

.confirm {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
    border-color: red;
    border-radius: 5px;
}

.delete-modal {
    background-color: whitesmoke;
    color: black;
    position: absolute;
    text-align: center;
    width: 100%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    top: calc(100% + 10px);
    border-radius: 1rem;
    padding: 10px;

    &:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 45%;
        z-index: 1;
        border: solid 10px transparent;
        border-bottom-color: whitesmoke;
    }
}