@import '../../assets/_variables.scss';

.nav-bar {
    background: $dark-color;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 3;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 45px;
        text-decoration: none;
        color: $medium-color;
        padding-left: 25px;
        font-family: 'Coolvetica';
        letter-spacing: 2px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        width: 50%;

        a {
            font-size: 30px;
            color: $medium-color;
            display: inline-block;
            line-height: 55px;
            text-align: center;
            text-decoration: none;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 25%;
    
            i {
                transition: all 0.3s ease-out;
            }
            
            &:hover {
                color: $accent-color;
    
                svg {
                    opacity: 0;
                }
    
                &:after {
                    opacity: 1;
                }
            } 
    
            &:after {
                content: '';
                font-size: 22px;
                letter-spacing: 2px;
                position: absolute;
                top: 16%;
                display: block;
                width: 25%;
                height: 70px;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }
    
        a.color-picker-link {
            &::after {
                content: 'COLOR PICKER';
            }
        }
    
        a.database-explorer-link {
            &:after {
                content: 'DATABASE EXPLORER';
            }
        }
    
        a.active {
            svg {
                color: $accent-color;
            }
        }
    }

    @media (max-width: 1074px) {
        .logo {
            display: none;
        }
        nav {
            width: 100%;
        }
    }
}