@import '../../../assets/variables';

.spotify {
    background-color: #1b202c;
    height: auto;
    width: 90%;
    height: 95%;
    padding: 5%;
    margin-bottom: 5%;
    color: white;
}

.player {
    font-family: 'Helvetica Neue';
    max-width: 90%;
    margin-left: 5%;

    .status {
        display: flex;
        
        .logo {
            font-size: 4rem;
            padding: 2%;
        }

        .status-text {
            color: $light-color;
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0;
            padding: 5%;
            padding-left: 0;
            width: 100%;
        }
    }
}

.temp {
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

.main-button {
    border: $medium-color solid 3px;
    border-radius: 5px;
    background: none;
    color: $medium-color;
    font-size: 1.25rem;
    padding: .5rem;
    margin: .5rem;
    text-decoration: none;

    :hover {
        background-color: $medium-color;
        color: $dark-color;
    } // TODO not working
}

.song-box {
    border: $medium-color solid 3px;
    border-radius: 15px;
    display: flex;

    .album-art {
        width: 25%;
        height: auto;
        padding: 5%;
        border-radius: 18%;
    }

    .song-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 8%;
        padding-bottom: 8%;

        .top-line {
            display: flex;
            width: auto;
            font-size: 2rem;
            padding-right: 5%;

            .playing-animation {
                padding-right: 5%;
            }
    
            .song-name {
                text-decoration: none;
                color: $light-color;
                font-weight: bold;
                flex-grow: 1;
            }
        }
        
        .artist-name {
            font-size: 1.5rem;
            margin: 0;
            color: $medium-color;
        }
    }        
}

// sparks 2:20 
